%footer.items-sell-footer
  %ul.menu
    %li
      %a{:href => "#"} プライバシーポリシー
    %li
      %a{:href => "#"} フリマ利用規約
    %li
      %a{:href => "#"} 特定商取引に関する表記
  = link_to image_tag('furima-logo-color.png' , size: '185x50'), "/"
  %p.inc
    ©︎Furima,Inc.
